/*

Typewriter animation - A simple animation to give the appearance of text being typed.

*/



.typewriter {
  overflow: hidden; 
  border-right: .15em white;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; /* Adjust to suit */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
